.env
**/.env
venv/
**/venv/
env/
**/env/
__pycache__/
*.pyc
*.pyo
*.pyd
node_modules/
**/node_modules/
dist/
build/
**/dist/
**/build/
*.log
*.tmp
.vscode/
.idea/
.DS_Store
Thumbs.db
/frontend/venv/
/backend/venv/